* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

#box {
        background-color: orange;
        /* border sets the border width/style/color in one line */
        border: 1px solid black;
        padding: 50px;
        /* will add padding on all of the side of our div */
        height: 150px;
        width: 150px;
}