* {
        font-family: 'Open Sans', sans-serif;
        /* font-size: 1.1rem; */

          /* margin 0 and padding 0, deletes the default padding and margin of all the element on our webpage */
        margin: 0;
        padding: 0;
      
         /* box-sizing - defines how the width and height of our element are calculated 
        border-box - will allow us to control the measurement of our elements better.
        It inludes the padding, border styling of our element tot the total height and width in its computation
        */
        box-sizing: border-box; 
}

nav {
  border-bottom: 1px solid gray;
  padding: 1rem;
  /* rem based on the pixel of its root element */
  margin-bottom: 2rem;
  /* create space between nav and intro section */
}

nav ul .nav-logo, nav ul .nav {
  list-style-type: none;
  display: inline;
  margin: 0.5rem;
  /* short hand for margin-top/left/right/bottom */
}

#intro {
  text-align: center;
  padding: 10%;
  /* 10% gets its value from its parent element which is the body tag */
}

section > .header {
  text-align: center;
  margin-bottom: 50px;
}

#intro p {
  margin-bottom: 55px;
}

#intro button {
  padding: 1rem;
  border-radius: 25px;
  background-color: #c2195b;
  color: white;
  font-weight: bold;
}
#succeed-info > div {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-around;
}

#succeed-info > div > .card {
  margin: 0 15px;
}

#succeed-info > div > .card > h3 {
  text-align: center;
}

#pre-footer {
  display: flex;
  justify-content:flex-start;
  background-color: #002540;
  padding: 20px;
  margin-top: 50px;
}

#pre-footer > div h3 {
  color: white;
}

#pre-footer > div p {
  color: white;
  width: 250px;
  margin-bottom: 5px;
}